.contact-list-item{
    transition: all ease-in-out  .3s;
}
.contact-list-item *{
    transition: all ease-in-out linear .3s;
}
.h-half-screen{
    height: 50vh;
}
.max-h-70-screen{
    max-height: 70vh;
}
#root{
    overflow-x: hidden;
}




.modal-transition-enter {
    opacity: 0;
    top: -100%;
}
.modal-transition-enter-active {
    opacity: 1;
    top: 50%;
}
.modal-transition-exit {
    opacity: 1;
    top: 50%;

}
.modal-transition-exit-active {
    opacity: 0;
    top: -100%;
}





.fade-enter {
    opacity: 0;
    margin-top: -100px;
  }
  .fade-enter-active {
    transition: all .3s ease-in-out;
    opacity: 1;
    margin-top: 0px;

  }
  .fade-exit {
    opacity: 1; /* opacityの規定値は1だが、省略不可 */
    margin-top: 0px;

  }
  .fade-exit-active {
    transition: all .3s ease-in-out;
    opacity: 0;
    margin-top: -100px;
  }